/* 以下是個別活動設定*/


.each {
	position: relative;
	border:2px yellow solid;
	display:inline-block;
}

.img {
	width: 350px;
	height: 350px;
	border: lightgrey 1px solid;
	/*float:left;*/
}

.imgType {
	float: right;
}

.ActivityName {
	color: orange;
	font-weight: bold;
	font-size: 24px;
	border: lightgrey 1px solid;
	margin: 10px 10px 0px 10px;
	/*float:left;*/
	width: 280px;
	height: 26px;
	overflow: hidden; /*超出的文本隐藏*/
	text-overflow: ellipsis; /*溢出用省略号显示*/
	white-space: nowrap; /*溢出不换行*/
}

.ActivityDate {
	margin: 0px;
}

.singleDate {
	display: inline-block;
}

.brief {
	border: lightgrey 1px solid;
	padding: 5px;
}


.showEachMap {
	width: auto;
	display: block;
	margin: 0 auto;
	/*网页中内容居中显示*/
	padding: 5px;
	font-size: 9pt;
	/* 9pt的字体是没有锯齿的  */
	height: auto;
	/*因整个div部分，会有一部分动态显示或者隐藏，所以将高度设为auto*/
}


.hideMap {
	display: none;
}

.hiddenBtn {
	background-color: grey;
	text-align: center;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	padding-top: 10px;
}