/* 以下是個別活動設定*/


.each {
	position: relative;
	border:2px white solid;
	display:inline-block;
	vertical-align: top;
	height:auto;
	background-color:grey;
	border-radius:20px;
}

.fieldset{
	border-radius:30px;
	height:auto;
	width:360px;
	
}

.img {
	width: 350px;
	height: 350px;
	border: lightgrey 1px solid;
	margin: 5px;
	border-radius:20px;
	/*float:left;*/
}

.imgType {
	position:absolute;
	right:0%;
	margin: 0px 10px 0px 0px;
	/*
	float: right;
	
	*/
}

.ActivityName {
	position:relative;
	color: orange;
	font-weight: bold;
	font-size: 24px;
	
	margin: 0px;
	/*float:left;*/
	left:15%;
	width: 232px;

	overflow: hidden; /*超出的文本隐藏*/
	text-overflow: ellipsis; /*溢出用省略号显示*/
	white-space: nowrap; /*溢出不换行*/
}

.ActivityAddress{
	overflow: hidden; /*超出的文本隐藏*/
	text-overflow: ellipsis; /*溢出用省略号显示*/
	white-space: nowrap; /*溢出不换行*/
}

.ActivityDate {
	margin: 0px;
}

.singleDate {
	display: inline-block;
}

#brief{
	height:45px;
	padding:10px;
	margin:10px 0px 10px 0px;
	border-radius:10px;
	text-align: center;
}
#detail{
	text-align:justify;
	border-radius:10px;
}
/*
.brief {
	background-color:lightgrey;
	border-radius:20px;
	color:#404040;
	height:50px;
	padding: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
*/

.showEachMap {
	width: auto;
	display: block;
	margin: 0 auto;
	/*网页中内容居中显示*/
	padding: 5px;
	font-size: 9pt;
	/* 9pt的字体是没有锯齿的  */
	height: auto;
	/*因整个div部分，会有一部分动态显示或者隐藏，所以将高度设为auto*/
}


.hideMap {
	display: none;
}

.hiddenBtn {
	background-color: grey;
	text-align: center;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	padding-top: 10px;
}