

.infoouter{
position:relative;
width:180px;
height:40px;
margin:0px auto;

}
.infoground{
position:absolute;
background:lightgrey;
width:180px;
height:16px;
border-radius:20px;
bottom:7%;
margin:0px auto;

}

.infocurrentD{

background:pink;
position: absolute;
height:8px;
margin:4px 10px 4px 10px;
border-radius:20px;
}

.infotargetD{
position: absolute;
background:lightyellow;

height:8px;
margin:4px 10px 4px 10px;
border-radius:20px;


}

.infolimitP{
position:absolute;
right:1px;
top:-21px;
}

.infotargetP{
position:absolute;
right:-10px;
top:-25px;
}

.infocurrentP{
position:absolute;
right:-9px;
top:-25px;
}
