<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />
	<context:component-scan base-package="bar.model"/>
	<context:component-scan
		base-package="bar.controller"/>
	<mvc:annotation-driven />

	<!-- Spring Quartz -->
	<!-- Definition of Job Detail -->
	
	
<!-- 	<bean name="schedulingJob" -->
<!-- 		class="org.springframework.scheduling.quartz.JobDetailFactoryBean"> -->
<!-- 		<property name="jobClass" value="bar.model.updateJob2_1"/> -->
<!-- 		<property name="durability" value="true"/> -->
<!-- 	</bean> -->
	
	
	<!-- Definition of Trigger -->
	
	
<!-- 	<bean id="triggerJob" -->
<!-- 		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="jobDetail" ref="schedulingJob"/> -->
<!-- 		<property name="cronExpression" value="*/5 * * * * ?"/> -->
<!-- 	</bean> -->
	
	
	<!-- Definition of controller -->
	
	
<!-- 	<bean id="scheduleController" -->
<!-- 		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" -->
<!-- 		lazy-init="true"> -->
<!-- 		<property name="schedulerName" value="monitorScheduler"/> -->
<!-- 		<property name="triggers"> -->
<!-- 			<list> -->
<!-- 				<ref bean="triggerJob"/> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
	
</beans>
